*{
  margin: 0;
  box-sizing: border-box; /* Optional: aligning box sizing */

}




.Page-stipper-SwiperSlide-container{
  min-height: 100vh;
}

.Page-stipper-SwiperSlide-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-sliider {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 90%;
  max-width: 1711px;
}
.btn-sliider button:first-child{
  background: none;
  border: none;
}
.btn-sliider button:last-child{
  background: #131313;
  border: none;
  border-radius: 0;
  color: white;
}
.btn-sliider button{
  display: flex;
  gap: 6px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  font-size: 17.44px;
  font-weight: 600;
  line-height: 21.97px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 110px;
  height: 62px;
  cursor: pointer;
}
.Customize-sec{
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.Customize-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  width: 90%;
}
.Customize-container h2{
  font-family: 'Outfit';
  font-size: 43.8px;
  font-weight: 500;
  line-height: 52.62px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.Customize-container p{
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #282C3B;
}
html {
  scroll-behavior: smooth;
}
img {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.SliderButtons-mobile{
  display: none !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .SliderButtons-mobile{
    display: flex !important;
  }
  .Customize-container h2{
    font-size: 32px;
    line-height: normal;
  }
  .btn-sliider-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .SliderButtons-desktop{
    display: none !important;
  }
  .Page-stipper-SwiperSlide-container{
    padding-bottom: 100px;
  }
}