*{
  margin: 0;
  box-sizing: border-box; /* Optional: aligning box sizing */

}
body{
  background-color: #F6F6F6;
}









.Customize-sec{
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.Customize-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  width: 90%;
}
.Customize-container h2{
  font-family: 'Outfit';
  font-size: 43.8px;
  font-weight: 500;
  line-height: 52.62px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.Customize-container p{
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #282C3B;
}
html {
  scroll-behavior: smooth;
}


@media (max-width: 1024px) {
  .Customize-container h2{
    font-size: 32px;
    line-height: normal;
  }
}