.BleachedKnots-sec{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.BleachedKnots-container{
    padding: 25px;
    max-width: 1280px;
    width: 90%;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.BleachedKnots-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.BleachedKnots-content h2{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
.BleachedKnots-content h2 h6{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #131313;
    color: #FFFFFF;
    padding: 5px;
}
.BleachedKnots-content h2 span{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #9A9A9A;
}
.BleachedKnots-content p{
    font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #131313;
}
.BleachedKnots-select{
    display: flex;
    justify-content: space-between;
}
.BleachedKnots-select button{ 
    width: 49%;
    height: 44px;
    background: #A9A9A9;
    border: none;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.BleachedKnots-button-selected{
    position: relative;
    background: #131313 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.BleachedKnots-button-selected::before{
    content: "";
    width: 18px;
    height: 18px;
    background: url("./assets/whiteChech.svg");
    background-size: contain;
}
.error-alert{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    color: #ff0000;
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 400;
}
.error-alert img{
    width: 24px;
}
@media (max-width: 1024px){
    .BleachedKnots-select{
        flex-direction: column;
        gap: 10px;
    }
    .BleachedKnots-select button{
        width: 100%;
    }
}