.HairDensity-sec{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.HairDensity-container{
    max-width: 1280px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid #DDDDDD;
}
.HairDensity-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.HairDensity-content h6{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #131313;
    display: flex;
    align-items: center;
    gap: 5px;
}
.zero-price{
    display: none !important;
}
.HairDensity-content h6 h6{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #131313;
    color: #FFFFFF;
    padding: 5px;
}
.HairDensity-content{
    width: 47%;
}
.HairDensity-image{
    width: 40%;
    text-align: right;
}
.HairDensity-content p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131313;
}
@media (max-width: 1024px) {
    .HairDensity-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .HairDensity-image img{
        width: 100%;
    }
    .HairDensity-content,.HairDensity-image{
        width: 100%;
    }
}