.HairType-sec{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.HairType-container{
    display: flex;
    justify-content: space-between;
    max-width: 1711px;
    width: 90%;
    gap: 50px;
    align-items: center;
}
.HairType-image{
    width: 50%;
    max-width: 756px;
}
.HairType-image img{
    width: 100%;
}
.HairType-image-type{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.HairType-image-type-buttons{
    display: flex;
    gap: 14px;
}
.HairType-image-type-buttons button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 180px;
    height: 120px;
    justify-content: center;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    border: 1px solid #E8E8E8;
    cursor: pointer;
    background: white;
}
.HairType-image-type-buttons-active span{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.HairType-image-type-buttons-active span::after{
    content: "";
    background: url("./assets/greencheck.png");
    width: 20px;
    height: 20px;
    background-size: contain;
}
.HairType-image-type p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #282C3B;
}
.HairType-image-type h2{
    font-family: 'Outfit';
    font-size: 43.8px;
    font-weight: 600;
    line-height: 52.62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
@media (max-width:1024px) {
    .HairType-container {
        flex-direction: column;
    }
    .HairType-image{
        width: 100%;
    }
    .HairType-image-type{
        width: 100%;
        gap: 30px;
    }
    .HairType-image-type-buttons{
        flex-wrap: wrap;
    }
    .HairType-image-type-buttons button{
        min-width: 150px;
    }
    .HairType-image-type h2{
        font-size: 32px;
    }
}