.HairColor-sec{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.HairColor-container{
    display: flex;
    max-width: 1711px;
    width: 90%;
    align-items: center;
    justify-content: space-between;

}
.HairColor-head h2{
    font-family: 'Outfit';
    font-size: 43.8px;
    font-weight: 500;
    line-height: 52.62px;
    text-align: center;
    color: #000000;
}
.HairColor-alert{
    display: flex;
    padding: 16px 33px ;
    background: #FFE6B166;
    gap: 20px;
    align-items: center;
    border-radius: 5px;
}
.HairColor-alert p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9D9264;
}
html[lang="ar"] .HairColor-alert p{
    text-align: right;
}
html[lang="ar"] .HairDensity-Slider {
    direction: ltr;
}
html[lang="ar"] .HairDensity-Slider .MuiSlider-thumb::after {
    content: "+";
    position: absolute;
    top: 0%;
    left: 63%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
}
.HairColor-image{
    position: relative;
    overflow: hidden;
    width:756px ;
    display: flex;
    justify-content: center;
    background: white;
}
.HairColor-image img{
    width: 100%;
}

/* .hairhighlight2 {
    position: absolute;
    top: 0;
    width: 385px;
    height: 570px;
    clip-path: inset(20% 10% 40% 76%);
    mix-blend-mode: overlay;
    filter: blur(30px);
} */
.hairhighlight3 {
    position: absolute;
    top: 0;
    width: 385px;
    height: 570px;
    clip-path: inset(20% 40% 40% 55%);
        mix-blend-mode: overlay;
    filter: blur(100px);
    border-radius: 999px;
}
/* .hairhighlight4 {
    position: absolute;
    top: 0;
    width: 385px;
    height: 570px;
    clip-path: inset(20% 10% 40% 76%);
    mix-blend-mode: overlay;
    filter: blur(30px);
}
.hairhighlight5 {
    position: absolute;
    top: 0;
    width: 385px;
    height: 570px;
    clip-path: inset(20% 10% 40% 76%);
    mix-blend-mode: overlay;
    filter: blur(30px);
} */
.hairlinearGradient{
    position: absolute;
    mix-blend-mode: color;
    filter: blur(100px);
    opacity: .6;
}
.lasthear{
    position: absolute;
    top: 0%;
    left: 0%;
    mix-blend-mode: color;
    filter: blur(50px);
}
.HairColor-tabs{
    display: flex;
        gap: 14px;
}
.HairColor-tabs .tab-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    height: 45px;
    justify-content: center;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    border: 1px solid #E8E8E8;
    background: white;
    position: relative;

}
.tab-button > div{
    display: flex;
    gap: 5px;
    align-items: center;
}
.HairColor-tabs .tab-button.active{
    border: 1px solid #636363 !important;
}
.HairColor-tabs .tab-button h6{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #131313;
    color: #FFFFFF;
    padding: 5px;
    position: absolute;
    top: -30px;
    right: 0;
}

.tab-button-color{
    width: 20px;
    height: 20px;
    border-radius: 99px;
    border: 1px solid #00CD1F;
    transition: all .3ms ease;
}

.HairColor-filters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.HairColor-filters button{
    width: 100%;
    max-width: 225px;
    height: 45px;
    border: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.HairColor-filters button:nth-child(1){
    background: #242424;
}
.HairColor-filters button:nth-child(2){
    background: #695137;
}
.HairColor-filters button:nth-child(3){
    background: #DBC476;
}
.HairColor-filters button:nth-child(4){
    background: #863D19;
}
.HairColor-filters button:nth-child(5){
    background: #5A5A5A;
}
.HairColor-filters .filter-active::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url("./assets/check-circle-svgrepo-com.svg");
    background-size: contain;
}
.color-option{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.color-option h5{
    color: white;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
}
.color-option h6{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #282C3B;
}
.HairColor-colors{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.haircolor-svg{
    position: absolute;
    
    width: 100%;
    mix-blend-mode: soft-light;
    filter: blur(50px);
}
.hairGradient-svg{
    position: absolute;
    mix-blend-mode: soft-light;
    filter: blur(100px);

    width: 100%;
}
.white-bg{
    width: 100%;
    background: #FFFFFF;
    margin-top: -30px;
}
.colorGradient-container{
    display: flex;
    gap: 100px;
}
.colorGradientSlider{
    margin: 20px 0;
}
.colorGradient-hair{
    position: relative;
}
.colorGradient-container-des{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.colorGradient-hair-Gradient{
    position: absolute;
    top: 0%;
    left: 0%;
    mix-blend-mode: color;
    filter: blur(5px);
    z-index: 2;
}
.colorr-active{
    border:3px solid #00CD1F;
}
.HairColor-detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
@media (max-width: 1024px) {
  
    .lasthear{
        max-width: 80%;
    }
    .hairlinearGradient{
        max-height: 350px !important;
        max-width: 60%;

    }
    .colorGradient-container{
        align-items: center;
    }
    .HairColor-image svg{
    max-height: 250px;    }
    .HairColor-tabs{
        margin-top: -20px;
    }
    .HairColor-image svg{
        width: 100%;
    }
    .HairColor-head h2{
        font-size: 32px;
    }
    .HairColor-alert{
        flex-direction: column;
        align-items: flex-start;
    }
    .HairColor-tabs{
        flex-direction: column;
    }
    .HairColor-filters{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .HairColor-filters button{
        width: 47%;
        max-width: 100%;
    }
    .HairColor-colors{
        grid-template-columns: repeat(3,1fr);
    }
    .colorGradient-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .colorGradient-container-des{
        margin-top: 0;
    }
}
@media (max-width: 767px){
    .HairColor-colors{
        grid-template-columns: repeat(1,1fr);
    }
    .HairColor-filters button{
        width: 100%;
    }
    .HairColor-image img{
        width: 100%;
        height: 120px;
    }
    .HairColor-image svg{
    max-height: 120px;    }
    .hairlinearGradient{
        max-height: 170px !important;
    }
}