.HairLace-sec{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.HairLace-container{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1711px;
    position: relative;
    justify-content: space-between;
}
.HairLace-container-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 42px;

}
.HairLace-container-content h2{
    font-family: 'Outfit';
    font-size: 43.8px;
    font-weight: 600;
    line-height: 52.62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}
.HairLace-container-buttons{
    display: flex;
    gap: 14px;
}
.HairLace-container-image img{
    width: 725px;
    height: 730px;
    object-fit: contain;
}
.HairLace-container-buttons button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 180px;
    height: 120px;
    justify-content: center;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    border: 1px solid #E8E8E8;
    background: white;
    cursor: pointer;
}
.HairLace-container-buttons button.active span{
    display: flex;
    gap: 5px;
    align-items: center;
}
.HairLace-container-buttons button.active span::after{
    content: "";
    background: url("./assets/greencheck.png");
    width: 20px;
    height: 20px;
    background-size: contain;
}
@media (max-width:1024px){
    .HairLace-container-image,.HairLace-container-image img{
        width: 100%;
        height: auto;
    }
    .HairLace-container{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .HairLace-container-content{
        width: 100%;
        gap: 30px;
    }
    .HairLace-container-content h2{
        font-size: 32px;
    }
    .HairLace-container-buttons{
        overflow-x: auto;
    }
    .HairLace-container-buttons button{
        min-width: 200px;
    }
}