.HeadMeasurements-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.HeadMeasurements-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1711px;
    gap: 50px;

}
.HeadMeasurements-head{
    margin-bottom: 40px;
}
.HeadMeasurements-head h2{
    font-family: 'Outfit';
    font-size: 43.8px;
    font-weight: 500;
    line-height: 52.62px;
    text-align: center;
    color: #000000;
}
.HeadMeasurements-banner{
    position: relative;

}

.HeadMeasurements-options{
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.HeadMeasurements-options button{
    background: #FCF7EE;
    border: none;
     width: 100%;
     height: 50px;
     font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #00000099;
}
.HeadMeasurements-size{
    padding: 30px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.HeadMeasurements-size h2{
    font-family: 'Outfit';
font-size: 43.8px;
font-weight: 600;
line-height: 52.62px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    color: #000000;
}
.HeadMeasurements-container-size,.HeadMeasurements-alert{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.HeadMeasurements-alert-container{
    display: flex;
    justify-content: space-between;
}
.HeadMeasurements-alert h6{
    font-family: 'Lato';
    font-size: 14.75px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #282C3B;
    display: flex;
    align-items: center;
    gap: 10px;
}
.blue-size-alert{
    font-family: 'Lato';
    font-size: 14.75px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 10px;

}
html[lang="ar"] .blue-size-alert,html[lang="ar"]  .HeadMeasurements-alert h6{
    text-align: right;
}
.HeadMeasurements-alert p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Lato';
    font-size: 14.75px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #636676;
}
.HeadMeasurements-alert-container div:last-child button{
    width: 60px;
    height: 30px;
    background: #E0E0E04D;
    font-family: 'Outfit';
    font-size: 12.91px;
    font-weight: 500;
    line-height: 21px;
    color:  black;
    border: none;
    cursor: pointer;
}
.HeadMeasurements-alert-container div:last-child button.active{
    background: #000000;
    color: #FFFFFF;
}
.HeadMeasurements-alert-container div:last-child button:first-child{
    border-radius: 4px 0px 0px 4px;
}
.HeadMeasurements-alert-container div:last-child button:last-child{
    border-radius: 0px 4px 4px 0px;
}
.HeadMeasurements-container-size-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.HeadMeasurements-size-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
}
.HeadMeasurements-size-cards-info{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    background: white;
    right: 0px;
}
.HeadMeasurements-size-cards-info-contnet{
    position: relative;
}
.HeadMeasurements-size-cards-info-content div::after {
    content: attr(data-tooltip); /* Dynamically fetch tooltip text */
    position: absolute;
    bottom: 100%; /* Position above the info icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: #282C3B;
    padding: 14px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    box-shadow: 0px 0px 2px 2px #0000001A;
    width: 220px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

  }
  html[lang="ar"] .HeadMeasurements-size-cards-info-content div::after{
    text-align: right;
  }
  .HeadMeasurements-size-cards-info:hover .HeadMeasurements-size-cards-info-content div::after {
    opacity: 1;
    visibility: visible;
  }
.HeadMeasurements-size-cards p{
    font-family: 'Lato';
    font-size: 14.63px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #282C3B;
    max-width: 305px;
    width: 100%;
}   
.HeadMeasurements-size-cards h5{
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #282C3B;
}

.HeadMeasurements-size .MuiTableCell-head {
    background: #131313;
    font-family: 'Outfit';
    font-size: 14.63px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: white;
    border-right: 2px solid #FFFFFF;
}
.HeadMeasurements-size .MuiTableCell-head:last-child{
    border-right:none ;
}
.MuiTableBody-root tr:first-child td{
    background: #E3E3E3;
}
.MuiTableBody-root tr:last-child td{
    background: #E0E0E04D;
}
.MuiTableBody-root tr td{
    font-family: 'Lato';
    font-size: 14.75px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #282C3B;
    border-right: 2px solid #FFFFFF;
    }
    .HeadMeasurements-options button.active{
        border: 1px solid black;
        color: black;
    }
.HeadMeasurements-options button.active::after{
    content: "";
    background: url("./assets/greencheck.png");
    width: 20px;
    height: 20px;
    background-size: contain;
}
.HeadMeasurements-select{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.HeadMeasurements-select h4{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: #131313;
    text-transform: uppercase;
}
.HeadMeasurements-banner > img{
    width: 100%;
}
@media (max-width: 1024px) {
    .HeadMeasurements-container{
        flex-direction: column;
    }
    .HeadMeasurements-size{
        padding: 0;
    }
    .HeadMeasurements-size h2{
        font-size: 32px;
    }
    .HeadMeasurements-size-cards-info{
        right: 25%;
    }
    .HeadMeasurements-banner{
        width: 100%;
    }
    .HeadMeasurements-banner > img{
        width: 100%;
    }
    .HeadMeasurements-options button img{
        width: auto !important;
        height: auto !important;
    }
    .HeadMeasurements-alert-container{
        flex-direction: column;
        gap: 25px;
    }
    .HeadMeasurements-size-cards-info-content div::after{
        bottom: 0;
        left:-30%;
    }
    .HeadMeasurements-container-size-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
    .HeadMeasurements-select h4{
        font-size: 13px;
    }
    .HeadMeasurements-select .MuiFormControl-root{
        min-width: 90px;
    }
}

@media (max-width: 600px) {
    .HeadMeasurements-container-size-cards{
        grid-template-columns: repeat(1,1fr);
    }
}