.label-sec {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.label-container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 90%;
    flex-wrap: wrap;
    row-gap: 20px;
}

.label-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
}

.label-type h6 {
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    line-height: 24.77px;
    text-align: center;
    color: #282C3B;
}

.label-type p {
    font-family: 'Lato ', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.79px;
    text-align: center;
    color: #363636;
}

.label-type p h6 {
    font-family: 'Outfit';
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(135deg, #131313 0%, #333333 100%);
    color: #FFFFFF;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.3px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.label-container a {
    text-decoration: none;
    width: 12%;
    min-width: 150px;
}

.label-type img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 99px;
}

.Haircolor-label {
    position: relative;
}

.Haircolor-label .lasthear {
    width: 100%;
}

.Haircolor-svg {
    position: absolute;
    top: 0%;
    left: 0%;
    mix-blend-mode: color;
    filter: blur(50px);
}

.colorGradient-container-des {
    margin-top: 40px;
}

.colorGradient-container-des h2 {
    font-family: 'Outfit';
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #131313;
    display: flex;
    align-items: center;
    gap: 5px;
}

.colorGradient-container-des h2 img {
    width: 24px;
    height: 24px;
}

.Haircolor-label h3 {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;

}

.label-type.PU h3 {
    background: rgba(135, 176, 166, .5);
}

.label-type.PU h3 h5 {

    background: rgba(255, 255, 255, .5) none repeat scroll 0 0;
    color: rgba(135, 176, 166, .5);
}

.label-type.ST h3 {
    background: rgba(166, 176, 135, .5);
}

.label-type.ST h3 h5 {

    background: rgba(255, 255, 255, .5) none repeat scroll 0 0;
    color: rgba(166, 176, 135, .5);
}

.label-type.BK h3 {
    background: rgba(65, 98, 101, .5);
}

.label-type.BK h3 h5 {

    background: rgba(255, 255, 255, .5) none repeat scroll 0 0;
    color: rgba(65, 98, 101, .5);
}

.Haircolor-label h3 h5 {
    padding: 10px;
    border-radius: 99px;
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 20px;
}