.LaceTone-sec{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.LaceTone-container{
    padding: 30px;
    max-width: 1280px;
    width: 90%;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.LaceTone-container h2{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
.LaceTone-container p{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131313;
}
html[lang="ar"] .LaceTone-container p{
    text-align: right;
}
.LaceTone-container h2 img{
    width: 24px;
    height: 24px;
}
.LaceTone-colors{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;
}
.LaceTone-color{
    display: flex;
    gap: 15px;
    align-items: center;
}
.LaceTone-color h6{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #282C3B;
}
.LaceTone-color p{
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #282C3B;
}
.LaceTone-color-select img{
    border: 3px solid #54c18f;
    border-radius: 99px;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.LaceTone-color-select{
    position: relative;

}
.LaceTone-color-select::after{
    content: " ";
    width: 20px;
    position: absolute;
    height: 20px;
    left: 0;
    top: 0;
    background-color: white;
    background: url("./assets/SVGRepo_iconCarrier.svg");
    background-size: contain;
}
@media (max-width: 1024px) {
    .LaceTone-colors{
        flex-direction: column;
        gap: 10px;
    }
}