.PUedge-sec{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.PUedge-container{
    padding: 25px;
    max-width: 1280px;
    width: 90%;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PUedge-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}
.PUedge-content button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131313;
    cursor: pointer;
    padding: 0;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #131313;
}
.PUedge-content h2{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
.PUedge-content h2 h6{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #131313;
    color: #FFFFFF;
    padding: 5px;
}
.PUedge-content h2 span{
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #9A9A9A;
}
.PUedge-content p{
    font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #131313;
}
.PUedge-select{
    display: flex;
    justify-content: space-between;
}
.PUedge-select button{ 
    width: 33%;
    height: 44px;
    background: #A9A9A9;
    border: none;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.PUedge-button-selected{
    position: relative;
    background: #131313 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.PUedge-button-selected::before{
    content: "";
    width: 18px;
    height: 18px;
    background: url("./assets/whiteChech.svg");
    background-size: contain;
}
.SwiperSlide-pu p{
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #131313;
} 
.SwiperSlide-pu >div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.SwiperSlide-pu >div img{
    width: 50%;
    max-width: 350px;
}
@media (max-width: 1024px){
    .PUedge-select{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .PUedge-select button{
        width: 100%;
    }
    .SwiperSlide-pu >div img{
        width: 40%;
        max-width: 350px;
    }
    .PUedge-sec{
        margin-top: 15px;
    }
    .LaceTone-sec{
        margin-top: 30px;
    }
}