.SilkTop-sec {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.SilkTop-container {
    padding: 30px;
    max-width: 1280px;
    width: 90%;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.SilkTop-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.SilkTop-content h2 {
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.SilkTop-content h2 h6 {
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background: #131313;
    color: #FFFFFF;
    padding: 5px;
}

.SilkTop-content h2 span {
    font-family: 'Outfit';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #9A9A9A;
}

.SilkTop-content p {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131313;
}

.SilkTop-select {
    display: flex;
    justify-content: space-between;
}

.SilkTop-select button {
    width: 49%;
    height: 44px;
    background: #A9A9A9;
    border: none;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.SilkTop-button-selected {
    position: relative;
    background: #131313 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.SilkTop-button-selected::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url("https://hairs.softylus.com/wp-content/uploads/2025/12/whiteChech.svg");
    background-size: contain;
}

@media (max-width: 1024px) {
    .SilkTop-select {
        flex-direction: column;
        gap: 10px;
    }

    .SilkTop-select button {
        width: 100%;
    }
}